.fama-table {
  display: flex;
}

.language-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.btn-import {
  height: fit-content;
}

.select-file {
  margin: auto 0;
}
